<div>
  <div class="px-4 sm:px-0">
    <h1 class="text-xl font-semibold leading-7 text-gray-900"><%= @project.name %></h1>
    <p class="mt-1 max-w-2xl leading-6 text-gray-900"><%= t(@project.status) %></p>
    <p class="mt-1 max-w-2xl text-sm leading-6 text-gray-500"><%= @project.description %></p>
  </div>

  <div class="mt-2">
    <%= link_to edit_project_path(@project.id) do %>
      <button type="button" class="inline-flex items-center rounded-md bg-white px-3 py-2 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50">
        Edit
      </button>
    <% end %>
  </div>

  <div class="mt-6">
    <h3>Comments</h3>
    <div class="space-y-2">
      <% if @project.comments.count == 0 %>
        <p class="text-xs text-gray-500 italic">No comments yet.</p>
      <% else %>
        <% @project.comments.each do |comment| %>
          <%= render "comments/comment", comment: comment %>
        <% end %>
      <% end %>
    </div>
  </div>

  <div class="mt-6">
    <h3>New comment</h3>
    <%= render "comments/form", comment: Comment.new(project: @project) %>
  </div>
</div>
