<div>
  <div class="px-4 sm:px-0">
    <h1 class="text-xl font-semibold leading-7 text-gray-900"><%= @project.name %></h1>
    <%= link_to "Back to list", projects_path, class: "mt-1 text-xs text-gray-900 underline" %>
    <p class="mt-1 max-w-2xl leading-6 text-gray-900"><%= t(@project.status) %></p>
    <p class="mt-1 text-xs text-gray-900">
      Last updated by <%= @project.updated_by.email %>
      <br>
      Last updated at <%= time_ago_in_words(@project.updated_at) %> ago
    </p>
    <%= simple_format(@project.description, class: "mt-1 max-w-2xl text-sm leading-6 text-gray-500") %>
  </div>

  <div class="mt-2">
    <%= link_to edit_project_path(@project.id) do %>
      <button type="button" class="inline-flex items-center rounded-md bg-white px-3 py-2 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50">
        Edit
      </button>
    <% end %>
  </div>

  <div class="mt-6">
    <h3>Comments and activities</h3>
    <div class="mt-2 space-y-2">
      <% if @project.activities.count == 0 %>
        <p class="text-xs text-gray-500 italic">No activities yet.</p>
      <% else %>
        <% @project.activities.each do |activity| %>
          <%= render "activity", activity: activity %>
        <% end %>
      <% end %>
    </div>
  </div>

  <div class="mt-6">
    <h3>New comment</h3>
    <%= render "comments/form", comment: Comment.new(project: @project) %>
  </div>
</div>
