<!DOCTYPE html>
<html>
  <head>
    <title>ProjectConversationPortal</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <script src="https://cdn.tailwindcss.com"></script>
    <style type="text/tailwindcss">
      @layer utilities {
        .input-label {
          @apply block text-sm font-medium leading-6 text-gray-900;
        }

        .input {
          @apply block w-full rounded-md border-0 p-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6;
        }

        input:not([type^='submit']) {
          @apply rounded-md border-0 px-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6;
        }

        select {
          @apply rounded-md border-0 p-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6;
        }

        .link {
          @apply font-semibold leading-6 text-indigo-600 hover:text-indigo-500 cursor-pointer;
        }
      }
    </style>
  </head>

  <body>
    <% unless notice.nil? %>
      <p class="block p-4 bg-green-600 text-white"><%= notice %></p>
    <% end %>
    <% unless alert.nil? %>
      <p class="block p-4 bg-red-500 text-white"><%= alert %></p>
    <% end %>

    <div class="p-4">
      <%= yield %>
    </div>
  </body>
</html>
